$color-primary: #002F2F;
$color-secondary: #046380;
$color-tertiary: #A7A37E;
$color-delete-primary: #61001D;
$color-delete-secondary: #A30032;
$color-bg: #EFECCA;
$white: #fff;

body {
  background-color: $color-bg;
  font-family: sans-serif;
  margin: 0;
  color: $color-primary;
}

.container {
  max-width: 800px;
  width: 80%;
  margin: 10px auto 50px;
}

.center {
  text-align: center;
}

#top-bar {
  color: $color-bg;
  background-color: $color-primary;
}

#top-bar h1 {
  font-size: 2.5em;
  text-align: center;
  padding: 20px;
  margin: 0;
}

#top-bar h1 a {
  text-decoration: none;
  color: $color-bg;
}

#top-bar h1 a:hover {
  color: $color-tertiary;
}

#top-bar h1 a:focus {
  outline: none;
}

h1 {
  text-align: center;
}

#page-title {
  margin-bottom: 60px;
  clear: both;
}

#write-button {
  position: absolute;
  right: 60px;
  top: 27px;
  margin: 0;
}

img {
  max-width: 100%;
}

h2, h2 a {
  font-size: 25px;
  color: $color-secondary;
  text-decoration: none;
  margin: 0;
  padding-top: 20px;
}

h2 a:visited {
  color: inherit;
}

h2 a:focus {
  outline: none;
}

.meta {
  padding: 15px 0;
  font-style: italic;
  color: $color-tertiary;
}

.meta .date {
  font-weight: bold;
}

.post {
  font-size: 17px;
  line-height: 20px;
}
.post img {
  border-radius: 10px;
}

.post-image {
  margin-bottom: 20px;
}

.body-div {
  margin-bottom: 50px;
}

.site {
  border-left: 5px solid #ff5d6b;
  padding-left: 15px;
  margin: 25px 0;
}

.site a {
  color: #4cdbb0;
  text-decoration: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.header-div {
  cursor: pointer;
  box-sizing: border-box;
}

article {
  margin-bottom: 60px;
}

hr {
  margin: 0;
}

.form-group {
  margin-top: 20px;
}

.full-width-input {
  width: 100%;
}

.flex-form {
  display: flex;
  justify-content: space-between;
}

.half-width {
  flex-basis: 45%;
}

input, textarea {
  font-size: 1.4em;
}

textarea {
  resize: none;
}

.half-width input {
  width: 100%;
}

.button {
  background-color: $color-tertiary;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px gray;
  margin-top: 20px;
  font-size: 1.0em;
  padding: 5px 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #67654E;
}

.write-post {
  background-color: $color-primary;
  color: $color-bg;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px gray;
  margin-top: 20px;
  font-size: 1.0em;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
}

.write-post:hover {
  background-color: $color-secondary;
}

.write-post:focus {
  outline: none;
}

.delete-button {
  background-color: $color-delete-primary;
  color: $color-bg;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px gray;
  margin-top: 20px;
  font-size: 1.0em;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
}

.delete-button:hover {
  background-color: $color-delete-secondary;
}

.comments li {
  list-style: none;
}
